<!DOCTYPE html>
<html>
  <head>
    <title><%= @host %> in an iPad</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="ipad">
      <iframe id="app" src="<%= @iframe_src %>"></iframe>
    </div>
    <p>A service of <a href="http://fancyrabbit.co">The Fancy Rabbit Software Co.</a></p>
  </body>
</html>